@model List<TodoApp.Models.TodoItem>

@*
    Kiegészítettük a View definicióját, hogy képes 
    legyen List<string> tipusú adatot fogadni
*@

@{
    ViewBag.Title = "TodoList";
}

<h2>Bevásárlólista</h2>

@*Kiolvasom a ViewBag-be tárolt információt itt a nézeten*@
@*A megoldás hogy egy ciklussal kiolvassuk a listából az adatokat és úgy írjuk a HTML-t*@


<ul>
    @foreach (var todoitem in Model)
    {
        if (todoitem.Done)
        {
            <li><strike>@todoitem.Name</strike></li>
        }
        else
        {
            <li>@todoitem.Name</li>
        }

    }
</ul>