@model TodoApp.Models.TodoItem
@{
    ViewBag.Title = "Create";
}

<h2>Edit</h2>

<form method="PUT">
    <input name="name" value="@Model.Name">
    @*<input id="isDone "name="isDone" type="checkbox" value="true">*@
    @Html.CheckBox("isDone")

    <input type="submit" value="Mentés" >
    <button>Mentés</button>
</form>
@Html.ActionLink("Mégsem", "Index")